body {
	font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
	font-weight: lighter;
	background-color: #FFF8E8;
}

div.homepage {
	background-color: #EFE8D8;
	margin: 5px;
	width: 95%;
	max-width: 950px;
}

#navigation-menu {
	height: 50px;
}

#carousel {
	height: 600px;
}

ul {
	list-style-type: none;
	position: relative;
	top: 15px;
	left: 15px;
	padding: 0;
	margin: 0;
	max-width: 800px;
	width: 100%;
	letter-spacing: 0.10em;
}

li {
  display: inline;
	width: 20%;
}

li a {
	/*display: block;*/
	border-style: solid;
	border-color: lightgray;
	border-width: thin;
	background-color: #FFF8E8;
	text-decoration: none;
	color: #9E6436;
	padding: 8px 16px;
}

li a:hover {
	background-color: #555;
	color: white;
}

.active {
	background-color: #6699CC;
	color: white;
}

