* {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Arial, Verdana, sans-serif;
	font-weight: lighter;
	/*background-color: #FFF8E8;*/
	background-color: #EFE8D8;
}

header {
	font-family: "Arial";
	font: bold;
	font-size: xx-large;
	text-align: center;
	padding: 1%;
}

p {
	padding-left: 1%;
	padding-right: 1%;
	letter-spacing: 0.05em
}

div.lifestory {
	background-color: #FFF8E8;
	margin: 5px;
	padding: 20px;
	width: 100%;
	max-width: 1200px;
}



div.homepage {
	background-color: #FFF8E8;
	margin: 5px;
	padding: 20px;
	width: 95%;
	max-width: 1200px;
}

#navigation-menu {
	height: 50px;
	padding-right: 30px;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin:5px;
	width: 95%;
	max-width: 1200px;
}

#carousel {
	height: 600px;
}

ul {
	list-style-type: none;
	position: relative;
	padding: 0;
	margin: 5px;
	overflow: hidden;
	width: 100%;
	letter-spacing: 0.10em;
	background-color: #FFF8E8;
	max-width: 1200px;
}

li {
	float:left
}

li a {
	display: block;
	/*border-style: solid;*/
	border-color: lightgray;
	border-width: thin;
	text-align: center;
	background-color: #FFF8E8;
	text-decoration: none;
	color: #9E6436;
	padding: 8px 45px;
}

@media screen and (max-width: 600px) {
	ul li {float: none}
}

li a:hover {
	background-color: #555;
	color: white;
}

.active {
	/*background-color: #6699CC;*/
	/*background-color: beige;*/
	background-color: #FFF8E8;
	border-color: lightgray;
	/*border-style: solid;*/
	border-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	color: black;
}

#image-life {
	width: 100%;
	max-width: 450px;
	margin-top: 1%;
	margin-right: 1%;
	margin-bottom: 3%;
	margin-left: 3%;
	position: relative;
	float: right;
	opacity: 100%;
}